.search-bar {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;

}

.search-bar form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: yellow;
    margin-bottom: 5px;
}
